body {

background-color: #ADC9C6;
//background-color: #64F2E3;
font-family: Arial, sans-serif;

}

button {

margin-right: 10px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
font-weight: bold;
cursor: pointer;

}

.blue-button {

background-color: #049FE7;
color: white;
font-size: 15px;
padding:5px 10px;


}

