<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=".">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>

<body>
  <header>
    <nav>
      <a href='/'>Home</a>
      <a href='/activities'>Activities</a>
        <a href='/sales'>Sales</a>
          <a href='/location'>Location</a>
          <a href='/contact'>Contact Information</a>
            <a href='/rotary'>Rotary</a>
              <a href='/report'>Report a Problem</a>
      
                  <select id="ssa-menu" onchange="window.location.href=this.value;">
                    <option value="/ssa">SSA</option>
                    <option value="/ssa/temperature-adjustment">Temperature</option>
                    <option value="/ssa/weather">Weather</option>

                  </select>
              
    </nav>
  </header>
</body>