<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOMEPAGE</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- "Viewport meta tag" sounds SICK!-->
    <meta name="description" content="Main screen." />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    <br />
    <h1 style="text-align: center">HOMEPAGE</h1>

    <button onclick="window.location.href='/ssa'">SSA [secret...]</button>

    </button>
  </body>
</html>
