<!DOCTYPE html>
<html lang="en">

<head>
    <title>Report a Problem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Main screen.">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        input {
            text-align: right;
            margin: 10px;
        }

        .label {
            text-align: left;
        }

        button {
            margin-top: 10px;
        }

        h4 {
            color: red;
        }
    </style>
</head>

<body>
    <button onclick="window.location.href='/'">Back</button>
    <h1 style="text-align: center">Report a Problem</h1>
    <div class="form-container">
        <!-- Form is presented first -->
        <form action="/report-problem" method="POST">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required><br>

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea><br>

            <button type="submit">Submit</button>
            <button type="reset">Clear Form</button>
        </form>
        <h4>Note: WHAT. THE. BUDGIE.</h4>
    </div>
</body>

</html>
