<!DOCTYPE html> 
<html lang="en">

<head>
<title> Rotary </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="See local and other weather">
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}"
      />

</head>

<body>

    <div id="header">
        <script>
          fetch('/header')
            .then(response => response.text())
            .then(data => document.getElementById('header').innerHTML = data)
        </script>
        </div>

<br>
<br>
<br>

<!-- <h1 style="text-align: center"> Rotary</h1> -->
<div style="padding:20px; width: auto; height:auto; text-align:center;">
    <img src="{{ url_for('static', filename='pictures/Rotary.png') }}" padding="20px" width= "300px" height="auto" style="text-align: center;" alt="Example Image">
  </div>

    <a href="https://www.rotary.org/en">Check it out!</a>
  
</body>