<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>SSA [secret...]</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="For the real ones." />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <div id="header">
      <script>
        fetch('/header')
          .then(response => response.text())
          .then(data => document.getElementById('header').innerHTML = data)
      </script>
      </div>

    <button onclick="window.location.href='/'">Back</button>
    <h1 style="text-align: center">SSA</h1>
    <button
      class="blue-button"
      onclick="window.location.href='/ssa/temperature-adjustment'"
    >
      Temperature & Humidity
    </button>
    <button class="blue-button" onclick="window.location.href='/ssa/weather'">
      Weather
    </button>
  </body>
</html>
