<!DOCTYPE html>
<html lang="en">

<head>
  <title>Temperature and Humidity Readings</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- "Viewport meta tag" sounds SICK!-->
  <meta name="description" content="Show readings as well as options of adjusting." />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js "></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <style>
    h2 {
      color: black;
      font-style: normal;
    }

    changeFont {
      /*It's like void(){}!*/
      font-family: Arial, Helvetica, sans-serif;
    }

    present {
      color: green;
      /* SO COOL!! */
    }

    new {
      color: red;
    }

    input {
      margin: 5px;
    }

    .slider {
      background: #d3d3d3;
      width: 50%;
      height: 25px;
      cursor: grab;
    }
  </style>
</head>

<body>

  <div id="header">
    <script>
      fetch('/header')
        .then(response => response.text())
        .then(data => document.getElementById('header').innerHTML = data)
    </script>
  </div>
  <br>
  <br>
  <br>
  <br>
  <changeFont>
    <h1 style="text-align: center">
      <em>Temperature and Humidity Readings</em>
    </h1>
    <p style="text-align: center">
      To change temperature or humidity, enter number or tap the + or -
      buttons for the same purpose.<br />
      "Present" reading will gradually change to match the new selection.
    </p>
    <br>

    <div style="margin-left:70px;">
      <form action="/submit" method="POST">
        <!-- Temperature stuff-->
        <section>
          <h2><u>Temperature Adjustment</u></h2>
          <p>
            <present>Current Temperature: {{roomTemp}}°C</present>
          </p>
          <slider>
            <input type="range" min="0" max="30" value="{{roomTemp}}" disabled class="slider" id="PresentTemperature" />
          </slider>
          <br />
          <label for="temperature">
            <new>Set Temperature: {{SetTemp}}°C</new>
          </label>
          <input name="InputTemp" type="number" id="InputTemp" min="0" max="30" value="{{SetTemp}}" />
          <br />
          <slider>
            <input type="range" min="0" max="30" value="{{SetTemp}}" class="slider" id="tempSlider" />
          </slider>
          <p><span id="sliderValuetemp">{{SetTemp}}</span>°C</p>
        </section>

        <!-- Humidity stuff-->
        <section>
          <h2><u>Humidity Adjustment</u></h2>

          <p>
            <present>Current humidity: {{roomHumid}}%</present>
          </p>
          <slider>
            <input type="range" min="0" max="100" value="{{roomHumid}}" disabled class="slider" id="Present Humidity" />
            <!-- Disabled bc no one's allowed to change it-->
          </slider>
          <br />
          <label>
            <new>Set humidity: {{SetHumid}}%</new>
          </label>
          <input name="InputHumid" type="number" id="InputHumid" min="0" max="100" value="{{SetHumid}}" />
          <br />
          <slider>
            <input type="range" min="0" max="100" value="{{SetHumid}}" class="slider" id="humiditySlider" />
          </slider>
          <p><span id="sliderValue">{{SetHumid}}</span>%</p>
        </section>

        <!-- Done button-->
        <section>
          <br />
          <button id="doneButton" type="submit">Done?</button>
        </section>
      </form>
  </changeFont>
  <!-- Go to changeFont section in style to change font of all text-->
  <!-- Honestly, being able to create your own tags is pretty sick-->
  <div id="data"></div>

  <script>
// Syncing input slider with text number field thing
var tempSlider = document.getElementById("tempSlider");
var tempInput = document.getElementById("InputTemp");
var  sliderValue =document.getElementById("sliderValuetemp");

tempSlider.addEventListener("input", function(){
  tempInput.value = tempSlider.value;
  sliderValue.innerText=tempSlider.value;
});

tempInput.addEventListener("input", function(){
  tempSlider.value= tempInput.value;
  sliderValue.innerText=tempInput.value;
});

    // Websocket & Server Communication
    var socket = io.connect('https://sensors.hgvsupport.ddns.net:5000');
    
    socket.on('new_data', function (data) {
      console.log("Received data from server: ", data)
      // document.getElementById("data").innerHTML = "Received data: " + data.data;

      const temperature = data.roomTemp;
      const humidity = data.roomHumid;

      document.querySelector("present").innerText= `Current Temperature: ${temperature}C`
// updating slider value 
      document.getElementById("PresentTemperature").value=temperature;
      document.getElementById("tempSlider").value=temperature;
      document.getElementById("sliderValuetemp").innerText=temperature;


    });

    socket.emit('request_data');
  </script>
  </div>
</body>

</html>