<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="See local and other weather" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>

    <div id="header">
      <script>
        fetch('/header')
          .then(response => response.text())
          .then(data => document.getElementById('header').innerHTML = data)
      </script>
      </div>

      <br>
      <br>
      <br>
      
    <h1 style="text-align: center">Weather</h1>

    <button class="blue-button">Local</button>
    <button class="blue-button">In The Area</button>
  </body>
</html>
